.testimonialContainer {
    width: 70%;
    overflow: hidden;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.testimonialScrollContainer {
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: thin;
    scrollbar-color: #ccc transparent;
    padding-bottom: 10px;
}

.testimonialGrid {
    display: grid;
    grid-template-columns: 1fr; /* Default: 1 column for small screens */
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

/* For larger screens (min-width: 768px), switch to 2 columns */
@media (min-width: 768px) {
    .testimonialGrid {
        grid-template-columns: repeat(2, 1fr); /* 2 columns */
    }
}

.testBody {
    display: inline-block;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    min-height: 150px;
    width: 250px;
    padding: 20px;
    text-align: center;
    flex: 0 0 auto;
    border-bottom: 10px solid gray;
    transition: transform 0.5s ease;
}

.imgTest {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid white;
    background-color: wheat;
}

.desc {
    margin-top: 10px;
}
.title{
    border-radius: 50px;
    width: fit-content;
    padding-left: 20px;
    padding-right: 20px;
}
.testBody:hover{
    transform: scale(1.09);
}